@import '../../variables.scss';

.hero__section {
	color: $white;
	padding: 160px 0;
	background-color: $paleCyan;
}

.hero__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.hero__col {
	margin-bottom: 15px;
	padding: 0 25px;
	flex: 1;

	@include breakpoint(medium) {
		flex-basis: 100%;
	}

	&__text-wrapper {
		padding-bottom: 60px;
	}

	&__top-line {
		color: $pink;
		font-weight: 700;
		letter-spacing: 1.4px;
		text-transform: uppercase;
	}

	&__heading {
    font-family: $font-heading;
		line-height: 1.3;
		margin-bottom: 24px;
	}

	&__description {
    color: $blueish;
		line-height: 24px;
		margin-bottom: 35px;
	}
}

.dark {
	color: $darkCyan;
}

.darkBg {
	background-color: $darkCyan;
}


